<!DOCTYPE html>
<html>
  <head>
     <style type="text/css">
body {
  background-image: url("/static/chiflagbackground.png");
}
    </style>
    <title>Chicago Crime Fact Generator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <center>
    <div class="container">
      <div class="jumbotron">
      <h1>Welcome to Jake and Doan's MIS 407 Project!</h2>
      <br>
      <p>Choose one of the buttons below to explore!</p>
      <div class ="btn-group btn-group-lg" role="group" aria-label="index buttons">
          <button type="button" class="btn btn-default" onclick="location.href = '/fact';">Cool Fact</button>
          <button type="button" class="btn btn-default" onclick = "location.href = '/coolmap';">Cool Map</button>
      </div>
      </center>
    </div>
    </div>
  </body>
</html>